{
    "presets": [
      ["env", {
        "targets": {
          "node": "10.15.3"
        },
        "exclude": [
          "transform-async-to-generator",
          "transform-regenerator"
        ],
        "useBuiltIns": true
      }]
    ],
    "plugins": [
      "transform-object-rest-spread",
      ["transform-async-to-module-method", {
        "module": "bluebird",
        "method": "coroutine"
      }]
    ],
    "ignore": [
      "src/assets"
    ]
  }