<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guide</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/img/logo/spor_logo.png" />
    <!-- MATERIALIZE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">            
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Playfair+Display:400,400i|Work+Sans:300" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="/css/master.css"/>
</head>

<body>
    {{{body}}}
 <!-- FOOTER -->
<footer class="page-footer">
    <div class="footer_container">
        <div class="footer_top">
            <div class="footer_who">
                <h5 class="white-text">Who we are?</h5>
                <p class="grey-text text-lighten-4">Mushroom enthusiasts looking to give back to the foraging community.</p>
            </div>
        </div>
        <div class="footer_middle">
            <div class="footer_about">
                <h5 class="white-text">Pages</h5>
                <ul>
                    <!-- Page Links -->
                    <a data-target="./user.html" class="footer_openbtn_style footer_btn waves-effect waves-light btn modal-trigger" href="./user.html">My Basket</a>
                    <a data-target="./guide.html" class="footer_openbtn_style footer_btn waves-effect waves-light btn modal-trigger" href="./guide.html">Guide</a>
                    <a data-target="./map.html" class="footer_openbtn_style footer_btn waves-effect waves-light btn modal-trigger" href="./map.html">Found! Map</a>
                </ul>
            </div>
            <div class="footer_pages">
                <h5 class="white-text"><span class="blueText">SPŌR</span></h5>
                <ul>
                    <!-- The Team -->
                    <!-- Modal Trigger -->
                    <a data-target="the_team" class="footer_openbtn_style modal-open waves-effect waves-light btn modal-trigger" href="#the_team">The Team</a>
                    <!-- Modal Structure -->
                    <div id="the_team" class="modal">
                        <div class="modal-content team_">
                            <h2 class="team_">The Team</h2>
                            <h5 class="team_">Bill</h5>
                            <p class="team_">Need a map? I know a guy.</p>
                            <h5 class="team_">Michael</h5>
                            <p class="team_">His laptop doubles as a shield.</p>
                            <h5 class="team_">Jason</h5>
                            <p class="team_">"But why?"</p>
                            <h5 class="team_">Seamus</h5>
                            <p class="team_">100% human trash.</p>
                        </div>
                        <div class="modal-footer">
                        <a href="#the_team" class="footer_closebtn_style modal-close waves-effect waves-green btn-flat">X</a>
                        </div>
                    </div>

                    <!-- The Team -->
                    <!-- Modal Trigger -->
                    <a data-target="user_support" class="footer_openbtn_style modal-open waves-effect waves-light btn modal-trigger" href="#user_support">Support</a>
                    <!-- Modal Structure -->
                    <div id="user_support" class="modal">
                        <div class="modal-content team_">
                            <h5 class="team_">User Support</h5>
                            <h2 class="team_">Doesn't exist BYE</h2>
                        </div>
                        <div class="modal-footer">
                        <a href="#user_support" class="footer_closebtn_style modal-close waves-effect waves-green btn-flat">X</a>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="footer_space"></div>
        </div>
        <div class="footer_bottom">
            <div class="footer-copyright">
                <div class="opensource">
                    Eating wild mushrooms is ridiculous. We assume no responsibility for your childish behavior. Stop being a hippie and get a job.                    </div>
            </div>
        </div>
    </div>
</footer>
</section> <!-- CANVAS -->

    <!-- LOGIC   --->
    <!-- jQUERY -->
    <!-- PARTICLES -->
    <script type="text/javascript" src="/js/particles.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script> 
    <!-- MATERIALIZE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/logic.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
    <!-- CUSTOM -->
</body>
</html>