<!-- CANVAS -->
    <section class="canvasExpander">
    <canvas id="canvas" class="background"></canvas>

    <!-- NAVBAR
    --------------------------------------------------------------------------->
    <header class="navbar z-depth-0">
        <a href="./user.html" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="basket_btn" class="fas fa-shopping-basket fa-3x"></i>
            </div>
        </a>
        <a href="guide" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="spore_btn" class="fab fa-hubspot fa-3x  "></i>
            </div>
        </a>
        <a href="./map.html" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="map_btn" class="fas fa-map-marked-alt fa-3x"></i>
            </div>
        </a>
    </header>

     <!-- LOGO -->
     <div class="spor_container">
        <div class="spor_image">
            <h6><img class="image" src="./img/logo/spor_logo.png" style="width:300; height:400px;" alt=""></h6>
        </div>
    </div>

    <!-- GUIDE INFO 
    --------------------------------------------------------------------------->
     <!-- SPŌR NOUN -->
     <div id="spor_noun" class="spor_noun">
        <h1 class="spor_word" style="margin-bottom: 0;"><strong>attribute</strong><span class="spor_word_type">   noun</span></h1>
        <h5 class="spor_pronunciation">/ˈatrəˌbyo͞ot/</h5>
        <h6 class="spor_text_block">a quality or feature regarded as a characteristic or inherent part of someone or something.</h6>
        <div class="welcome_text_wrapper">
            <h6 class="welcome_text">Use the list of attributes below to narrow down your species search. Click on an attribute to be shown a list of traits and check all that apply. Any species that fit your criteria will be appended below. The attributes will stack until you uncheck them or click the `Clear Attributes` button. You'll find the `Found!` button on the mushroom cards appended below. </h6>
        </div>
    </div>

    <!-- CLEAR ATTRIBUTES BUTTON 
    --------------------------------------------------------------------------->
    <div class="clear_att_button_body">
        <a id="clear_att_btn" class="waves-effect waves-dark btn">Clear Attributes</a>
    </div>

    <!-- SEARCH  
    --------------------------------------------------------------------------->
    <div class="guide_search_body">
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Hymenium</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color"> gill type...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Gill Characteristics</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color"> if present...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Gill Attachment</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color"> if present...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Spore Print</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color"> white, brown, ...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Smell</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color"> apricot, aniseed, ...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Stipe</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color"> stem characteristics...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Annulus</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color"> veil/ring characteristics...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Pileus</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color"> cap characteristics...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Flesh Color</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color">bluing, blackening, etc...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Fluid Color</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color">white, red, etc...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Volva</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color"> stem bulb characteristics...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="guide_selection">
            <div class="attribute_title">
                <h6><strong>Pores</strong></h6>         
            </div>
            <div class="attribute_text">
                <h7 class="att_text_color">elongated, watery, etc...</h7>
            </div>
            <div class="attribute_arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div> 
    <!-- SLIDER -->
    <div class="slider_body">
        <div id="slider">
            <div class="slider_icon_up">
                <i class="fas fa-chevron-up"></i>
            </div>
            <div class="slider_icon_down">
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </div>
    
    <!-- RESULTS BODY
    --------------------------------------------------------------------------->
    <!-- these should be added dynamically -->
    <div id="guide_container">
        <!-- GUIDE MUSHROOMS -->
        <div id="guide_results" class="guide_results_body">

            <div class="guide_mushroom">
                <div class="guide_mushroom_photo">
                    <img class="guide_image_border" src="./img/thumbnail/chanterelle_thumbnail.jpg" alt="chanterelle">
                </div>
                <div class="guide_mushroom_title">
                    <h6><strong>Chanterelle</strong></h6> 
                </div>
                <div class="space"></div>
                <div class="guide_mushroom_arrow">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="guide_mushroom">
                <div class="guide_mushroom_photo">
                    <img class="guide_image_border" src="./img/thumbnail/blackTrumpet_thumbnail.jpg" alt="chanterelle">
                </div>
                <div class="guide_mushroom_title">
                    <h6><strong>Black Trumpet</strong></h6> 
                </div>
                <div class="space"></div>
                <div class="guide_mushroom_arrow">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="guide_mushroom">
                <div class="guide_mushroom_photo">
                    <img class="guide_image_border" src="./img/thumbnail/blewit_thumbnail.jpg" alt="chanterelle">
                </div>
                <div class="guide_mushroom_title">
                    <h6><strong>Blewit</strong></h6> 
                </div>
                <div class="space"></div>
                <div class="guide_mushroom_arrow">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="guide_mushroom">
                <div class="guide_mushroom_photo">
                    <img class="guide_image_border" src="./img/thumbnail/lionsMane_thumbnail.jpg" alt="chanterelle">
                </div>
                <div class="guide_mushroom_title">
                    <h6><strong>Lion's Mane</strong></h6> 
                </div>
                <div class="space"></div>
                <div class="guide_mushroom_arrow">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>  
