 /* REFERENCES
==================================================*/
/* 
#fffbf9 (white)
#ec6f75b1 (pink)
#6feccbb1 (green)
#rgb(167, 166, 166);
*/

 /* TOOLS
==================================================*/
  .box {
    border: solid 1px black;
  }
  .boxgreen {
    border: solid 1px green;
  }
  .b {
    background: blue;
  }
  .r {
    background: red;
  }
  .g {
    background: green;
  }
  
  /* GLOBAL 
==================================================*/
  body {
    background: transparent;
    height: auto;
  }
  html {
    height: auto;
  }
  .blueText {
      color: #1d8bf1;
  }
  
  /* NAVBAR
==================================================*/
  .navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    background-color:  transparent !important;
    color: black !important;
    display: flex;
  }
  .navbar_icon {
    flex: 25;
    text-align: center;
  }
  .navbar_arrow {
    flex: 12.5;
    text-align: center;
  }

























  /* LOGIN PAGE
==================================================*/
  /* BIG RED LINE */
  #redLine {
    background-color: red;
    border: solid 1px red;
  }
  /* LOGO */
  .spor_image {
    text-align: center;
  }
  /* LOGIN BODY */
  .login_user_body {
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  #login_user_btn {
    margin-top: 20px;
    background-color: black;
  }
  /* CREATE BODY */
  .create_user_body {
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  #create_user_btn {
    margin-top: 10px;
    background-color: black;
  }
  /* SPŌR BODY */
  .spor_noun {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .spor_app {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .spor_word {
    margin-bottom: 0;
    font-family: 'Cormorant Garamond', serif;
  }
  .spor_word_type {
    color: #1d8bf1;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }
  .spor_pronunciation {
    margin-top: 0;
    font-family: 'Playfair Display', serif;
  }
  .spor_text_block {
    font-family: 'Work Sans', sans-serif;
  }


























  /* GUIDE PAGE
==================================================*/
  /* GUIDE INFO */
  .guide_info {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .guide_word {
    margin-bottom: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
  }
  .guide_word_type {
    color: #1d8bf1;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }
  .guide_pronunciation {
    margin-top: 0;
    font-size: 15px;
  }
  .guide_text_block {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
  }
  /* CLEAR ATTRIBUTES BUTTON */
  .clear_att_button_body {
    text-align: center;
    margin-bottom: 20px;
  }
  #clear_att_btn {
    background-color: black;
  }
  /* SEARCH BODY */
  .guide_search_body {
    padding: 0 10px;
    background: transparent;
  }
  .guide_selection {
    background: rgb(240, 239, 239);
    margin: 5px 10px 5px 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid rgb(113, 113, 113) 2px;
    border-radius: 15px;
    /* margin-left: 30px;
    margin-right: 30px; */
    display: flex;
    color: white;
  }
  .attribute_title {
    flex: 0 0 auto;
    margin-right: 7px;
    color: black !important;
  }
  .attribute_text {
    flex: 99;
    padding-top: 10px;
  }
  .attribute_arrow {
    padding-top: 6px;
    flex: 1;
    color: #1980ef;
  }
  .att_text_color {
    color: rgb(172, 172, 172) !important;
  }
  /* SLIDER */
  .slider_body {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    background: transparent;
  }
  #slider /*ID*/{
    background-color:  black !important;
    color: white !important;
    border: solid lightgray 2px;
    display: flex;
    margin-top: 5px;
  }
  .slider_icon_up {
    flex: 50;
    text-align: right;
    font-size: 20px;
  }
  .slider_icon_down {
    flex: 50;
    text-align: left;
    font-size: 20px;
  }
  /* RESULTS BODY */
  .guide_results_body {
    padding: 0 10px;
    background: white;
  }
  .guide_mushroom {
    background: rgb(240, 239, 239);
    margin: 5px 10px 5px 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid rgb(113, 113, 113) 2px;
    border-radius: 25px;
    display: flex;
    color: black;
  }
  .guide_mushroom_photo {
    margin-top: 5px;
  }
  .guide_image_border {
    border-radius: 10px; 
  }
  .guide_mushroom_title {
    flex: 0 0 auto;
    padding-top: 40px !important;
    padding-left: 10px;
    padding-top: 20px;
  }
  .space {
    flex: 99;
  }
  .guide_mushroom_arrow {
    padding-top: 29px !important;
    flex: 1;
    color: #1d8bf1;
  }
 
























  /* USER PAGE
==================================================*/
.user_info {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .user_val {
    color: #1d8bf1;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 0;
  } 
  .wrapper {
      display: flex;
  }
  .lift {
      margin-top: 0;
  }
  .lower {
      margin-bottom: 0;
  }
  .user_tag {
    margin-top: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
  }
  .up-arrow {
    text-indent: 1em;
      color: gray;
      padding-top: 8px;
  }
  .btn_wrapper {
      text-align: center;
  }
  #logout_btn {
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  /* FOUND MUSHROOMS */
  .found_mushroom {
    background: #ec6f75b1;
    margin: 5px 10px 5px 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid rgb(113, 113, 113) 2px;
    border-radius: 25px;
    display: flex;
    color: black;
  }
  .found_mushroom_photo {
    margin-top: 5px;
  }
  .found_image_border {
    border-radius: 10px; 
  }
  .found_mushroom_title {
    flex: 0 0 auto;
    padding-top: 40px !important;
    padding-left: 10px;
    padding-top: 20px;
  }
  .space {
    flex: 99;
  }
  .found_mushroom_arrow {
    padding-top: 29px !important;
    flex: 1;
    color: #1d8bf1;
  }






























  /* ID PAGE
==================================================*/
  /* NAVBAR */
  /* ID BODY */
  .id_body {
      text-align: center;
  }
  /* MUSHROOM IMAGE */
  .mushroom_image_container 
  .mushrooom_image
  /* MUSHROOM NAME */
  .mushroom_name_container
  .mushroom_name_latin {
    margin-top: 0 !important;
    margin-bottom: 30px !important;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
  }
  .mushroom_name_common {
    margin-top: 0 !important;
    margin-bottom: 30px !important;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
  }
  .mushroom_style {
    color: #1d8bf1;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }
  .button {
    margin-top: 0;
    font-size: 15px;
  }
  .text {
    font-family: 'Work Sans', sans-serif;
  }
  .button {
    margin-top: 10px;
  }
  #logout_btn {
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  /* FOUND MUSHROOMS */
  .window{
    background-color: white;
  }
  .results_body {
    padding: 0 10px;
    background: white;
  }
  .found_shroom_selection {
    background: rgb(240, 239, 239);
    margin: 5px 10px 5px 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: solid rgb(113, 113, 113) 2px;
    border-radius: 25px;
    display: flex;
    color: black;
  }
  .divider {
    margin: 0 30px;
    text-align: center;
  }
  #divider_text {
    color: white !important;
  }
  .mushroom {
    display: flex;
  }
  .shroom_photo {
    margin-top: 5px;
  }
  .shroom_title {
    flex: 0 0 auto;
    padding-left: 10px;
    padding-top: 20px;
  }
  .space {
    flex: 99;
  }
  .shroom_arrow {
    padding-top: 24px;
    flex: 1;
  }
  h7 {
    color: rgb(167, 166, 166);
  }
  /* DIVIDER */
  #divider {
    background-color:  black !important;
    color: black !important;
    display: flex;
    margin: 30px 20px 0 20px;
  }
































  /* FOOTER
==================================================*/
  .page-footer {
    background-color: black;
    margin-top: 13px;
    padding-top: 0;
  }
  .footer_container {
      margin-left: 40px;
  }
  .footer_top {
      display: flex;
  }
  .footer_who {
      flex: 10;
  }
  .footer_middle {
      display: flex;
  }
  .footer_pages {
      
      flex: 3;
  }
  .footer_about {
      flex: 3;
  }
  .footer_space {
      flex: 4;
  }
  .footer_bottom {
      display: flex;
  }
  .opensource {
      flex: 10;
  }


  /* CANVAS
==================================================*/
  .background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .canvasExpander {
    position: relative;
  }