<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>map</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="./img/logo/spor_logo.png" />
    <!-- MATERIALIZE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">                      
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Playfair+Display:400,400i|Work+Sans:300" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="./css/master.css"/>
</head>

<body>
    <!-- CANVAS -->
    <section class="canvasExpander">
    <canvas id="canvas" class="background"></canvas>

    <!-- NAVBAR
    --------------------------------------------------------------------------->
    <header class="navbar z-depth-0">
        <a href="./user.html" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="basket_btn" class="fas fa-shopping-basket fa-3x"></i>
            </div>
        </a>
        <a href="./guide.html" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="spore_btn" class="fab fa-hubspot fa-3x  "></i>
            </div>
        </a>
        <a href="./map.html" target="_self" class="navbar_icon z-forward">
            <div class="new_div">
                <i id="map_btn" class="fas fa-map-marked-alt fa-3x"></i>
            </div>
        </a>
    </header>