
<div id="bacon" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-bacon"></i>
    </div>
    <p class="icon_text">Delicious</p>
</div>


<div id="carrot" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-carrot"></i>
    </div>
    <p class="icon_text">Edible as is</p>
</div>


<div id="utensils" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-utensils"></i>
    </div>
    <p class="icon_text">Edible with preparation</p>
</div>


<div id="tp" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-toilet-paper"></i>
    </div>
    <p class="icon_text">Causes gastrointestinal problems</p>
</div>


<div id="caution" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-exclamation-triangle"></i>
    </div>
    <p class="icon_text">Caution, can cause serious illness</p>
</div>


<div id="danger" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-skull-crossbones"></i>
    </div>
    <p class="icon_text">Danger, can cause serious illness or death</p>
</div>


<div id="unknown" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-question"></i>
    </div>
    <p class="icon_text">Unknown</p>
</div>


<div id="bottle" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-prescription-bottle-alt"></i>
    </div>
    <p class="icon_text">Medicinal as is</p>
</div>


<div id="mortar" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-mortar-pestle"></i>
    </div>
    <p class="icon_text">Medicinal with preparation</p>
</div>


<div id="summer" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-sun"></i>
    </div>
    <p class="icon_text">Summer months</p>
</div>


<div id="winter" class="icon_block">
    <div class="icon_image">
        <i class="far fa-snowflake"></i>
    </div>
    <p class="icon_text">Winter months</p>
</div>


<div id="spring" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-seedling"></i>
    </div>
    <p class="icon_text">Spring months</p>
</div>


<div id="fall" class="icon_block">
    <div class="icon_image">
        <i class="fab fa-canadian-maple-leaf"></i>
    </div>
    <p class="icon_text">Fall months</p>
</div>


<div id="cloud" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-cloud-rain"></i>
    </div>
    <p class="icon_text">Prefers moist conditions</p>
</div>


<div id="tree" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-tree"></i>
    </div>
    <p class="icon_text">Prefers Coniferous forests</p>
</div>


<div id="branch" class="icon_block">
    <div class="icon_image">
        <i class="fas fa-pagelines"></i>
    </div>
    <p class="icon_text">Prefers deciduous forests</p>
</div>


trash icon
<i class="fas fa-trash"></i>
map icon
<i class="fas fa-map-pin"></i>











